.glyphicon-plus {
    background-color: blue;
    padding-top: 20px;
}

.btn-default{
    border-radius:20px;
}
.rounded-circle {
    height: 50px;
    width: 50px;
}

.col-sm-4 col-md-4 col-xs-4 {
    margin-top: 100px;
}

.h3 {
    font-family: 'Lobster',
        cursive;
}

.card-header {
    margin-top: 5px;
}
.addpost{
    border-radius:20px;

}