<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav mr-auto">
        <div class="col-sm-4 col-md-4 col-xs-2">
            <ul class="nav navbar-nav navbar-left">
                <li> <a style="font-size:30px;color:black" class="glyphicon glyphicon-camera " href="/">
                        <span class="ig"> Instagram</span> </a></li>
            </ul>
            <!-- <a href="/"><span class="fa fa-instagram fa-2x" aria-hidden="true">Instagram</a> -->
        </div>
    </ul>
    <div class="col-sm-4 col-md-4 col-xs-8">

        &nbsp;
        <form class="navbar-form form-search" role="search" action="{% url 'get_search' %}">
            <div class="input-group">
                <input type="text" style="border:1px solid grey" class="form-control" placeholder="Search" name="user">
                <div class="input-group-btn">
                    <!-- <button class="btn btn-default" style="border-radius:2px" ;type="submit">SEARCH</button> -->
                </div>
            </div>
        </form>

    </div>

    <div class="col-sm-4 col-md-4 col-xs-2">
        {% if user.is_authenticated %}
        <a href="{% url 'profile' user.id %}"><i class="fa fa-user fa-2x" style="float:right; margin-left: 20px;"
                aria-hidden="true"></i></a>
        &nbsp;
        <i href="{% url 'post_image' user.id %}"><i class="fa fa-plus-square-o fa-2x"
                style="float:right; margin-left: 20px;" aria-hidden="true"></i></i>
        &nbsp;
        <a href="/logout"><i class="fa fa-cog fa-2x " style="float:right; margin-left: 20px;"></i>LOGOUT</a>
        {% endif %}
    </div>
</nav>
<br>
<br>
<br>