{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
<style>
    .addpost {
        border-radius: 6px;
    }

    .light {
        border-radius: 6px;

    }

    .follow {
        border-radius: 6px;

    }
</style>

<div class="container">
    <div class="row">

        <div class="col-sm-4 col-md-4 col-xs-1">
            <div class="media">
                <img style="border-radius:170px;width:170px;height:170px" class="rounded-circle"
                    src="{{ user.profile.profile_path.url }}">
            </div>

        </div>

        <div class="col-sm-6 col-md-4 col-xs-10">

            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <a class="btn btn-light" href="/update/profile/{{user.id}}">Edit Profile</a>
                <p class="btn btn-primary follow"> <a style="text-decoration:none;color:white" href="#"> Follow </a></p>


                <br>
                <br>

                <p>{{profile.bio}}</p>

            </div>
        </div>
    </div>
</div>

<hr>
<p style="text-align:center;">POSTS</p>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <a class="btn btn-primary addpost " href="{% url 'post_image' user.id %}">Add Post</a>

        </div>
        

        {% for image in images %}

        <div class="col-md-4 col-lg-4">
            <div style="height: 104.67%; width:104.67%;" class="card">
                <img src="{{image.image.url}}" class="img-thumbnail" style="height: 240px !important"
                    data-toggle="modal" data-target="#myModal{{image.id}}" alt="" />
            </div>
        </div>
        {% endfor %}
     
    </div>

</div>

</div>

<!-- {% if request.user == user %}

{% endif %} -->


{% if request.user == user %}

{% endif %}
{% endblock %}